<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>显示过滤/排序结果，不更改原数据</title>
		<script src="../js/vue.js"></script>
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<div class="box" id="app">
			<p>### 原数据</p>
			<span v-for="num in numArray">{{num}} </span>
			<p>### 利用过滤器展示能被2整除的数据</p>
			<p>__使用计算属性展示</p>
			<span>{{con1}}</span>
			<p>__使用v-for 结合 计算属性展示</p>
			<span v-for="con of con1">{{con}} </span>
			<p>
				###在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 你可以使用一个 method 方法：
			</p>
			<span v-for="n in getArray(numArray)">{{n}} </span>
			<p>### 一段取值范围的 v-for</p>
			<span v-for="n in 10">{{n}} </span>
			<p>### v-for on a template</p>
			<!--看语义，清净吧，谁包裹谁，现在是 ui和li之间作为一部分-->
				<template v-for="oo in obj" >
					<ul>
					<li>{{oo.name}}</li>
					<li>{{oo.age}}</li>
					</ul>
				</template>
			<p>### v-for with v-if</p>
			<p>
				当这两个指令处于同一个节点的时候，是有优先级的，v-for的优先级高于v-if，也就是说，会先遍历加载所有的数据，之后，再每一个块里面进行v-if判断
			</p>
			<p>处于同一节点，只会展示age>15的数据</p>
			<ul>
				<li v-for="data in obj" v-if="data.age>15">{{data.name}}:{{data.age}}</li>
			</ul>
			<p>处于不同节点，灵活运用，根据业务逻辑</p>
			<ul v-if="obj.length >2">
  				<li v-for="todo in obj">
  					{{ todo.name }}:{{todo.age}}
  				</li>
			</ul>
			<p v-else>No todos left!</p>
		</div>
		<script>
			var vm = new Vue({
				el:'#app',
				data:{
					numArray:[1,2,3,4,5,6,7,8,9,0]
					,obj:[{
						'name':'xuefeiCheng',
						'age':'22'
					}
					,{
						'name':'xuefeiCheng',
						'age':'16'
					}
					,{
						'name':'xuefeiCheng',
						'age':'12'
					}]
				}
				,computed:{
					con1:function(){
						 return this.numArray.filter(function (number) {
						 	return number % 2 === 0
						 })
					}
				}
				,methods:{
					getArray:function(n){
						return this.numArray.filter(function (number) {
						 	return number % 2 === 0
						 })
					}
				}
			})
		</script>
	</body>
</html>
