<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>v-if条件渲染</title>
		<script src="../js/vue.js"></script>
		<link rel="stylesheet" href="../css/main.css" />
	</head>

	<body>
		<div class="box" id="app">
			<p :class="{'color-1':true}">### v-else[下面的栗子：判断随机数]</p>
			<div v-if="Math.random() > 0.5">
				Now you see me
			</div>
			<div v-else>
				Now you don't
			</div>
			<p :class="{'color-1':true}">### v-else-if[2.1.0 新增]</p>
			<button @click="change">change</button>
			<button @click="reset">重置</button>
			<div v-if="type === 'A'">
				A
			</div>
			<div v-else-if="type === 'B'">
				B
			</div>
			<div v-else-if="type === 'C'">
				C
			</div>
			<div v-else>
				Not A/B/C
			</div>
			<p :class="{'color-1':true}">### 未使用 key 管理可复用的元素</p>
			<p :class="{'color-3':true}">Vue 会尽可能高效地渲染元素，
				通常会复用已有元素而不是从头开始渲染。
				这么做，除了使 Vue 变得非常快之外，还有一些有用的好处。
				例如，如果你允许用户在不同的登录方式之间切换:</p>
			<p :class="{'color-3':true}">那么在上面的代码中切换 loginType 将不会清除用户已经输入的内容。
				因为两个模板使用了相同的元素，input>不会被替换掉——仅仅是替换了它的 placeholder。</p>
			<p :class="{'color-2':true}">输入一些文本，点击按钮，看一下效果吧</p>
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input placeholder="Enter your username">
			</template>
			<template v-else>
				<label>Email</label>
				<input placeholder="Enter your email address">
			</template>
			<button @click="toogle">切换登录方式</button>
			<p :class="{'color-1':true}">### 用 key 管理可复用的元素</p>
			<p :class="{'color-3':true}">
				这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来声明“这两个元素是完全独立的——不要复用它们”。只需添加一个具有唯一值的 key 属性即可：
			</p>
			<p :class="{'color-3':true}">
				注意，label 元素仍然会被高效地复用，因为它们没有添加 key 属性。
			</p>
			<p :class="{'color-2':true}">输入一些文本，点击按钮，看一下效果吧</p>
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input placeholder="Enter your username" key="username-input">
			</template>
			<template v-else>
				<label>Email</label>
				<input placeholder="Enter your email address"  key="email-input">
			</template>
			<button @click="toogle">切换登录方式</button>
		</div>
		<script>
			//构造器 构造根实例
			var vm = new Vue({
				el: '#app',
				data: {
					type: 'A',
					i: 1,
					loginType:'username'
				},
				methods: {
					change: function() {
						vm.i++;
						switch(vm.i) {
							case 1:
								vm.type = 'A';
								break;
							case 2:
								vm.type = 'B';
								break;
							case 3:
								vm.type = 'C';
								break;
							default:
								vm.type = 'D';
								break;
						}
					},
					reset: function() {
						vm.i = 1;
						vm.type = 'A';
					}
					,toogle:function(){
						if(vm.loginType != ""){
							vm.loginType = ""
						}else{
							vm.loginType='username'
						}
						
					}
					
				}

			})
		</script>
	</body>

</html>