<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>指令</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/vue.js"></script>
		<style type="text/css">
			div.box {
				width: 80%;
				margin: 100px auto;
			}
			
			.color-1 {
				color: #0078A8;
			}
		</style>
	</head>

	<body>
		<div class="box">
			<div id="app">
				<h2> v-if指令，dom节点直接删除或者添加，不是隐藏，angularjs中类似的是 ng-if，而ng-show是隐藏显示</h2>
				<!--v-bind:class 缩写 :class-->
				<p v-if="seen" :class="{'color-1':true}">现在你看到我了</p>
				<p v-else>现在你看不到我了</p>
				<!--等价于-->
				<!--<p v-else="seen">现在你看不到我了</p>-->
				<!--<p v-if="hide">现在你看不到我了</p>-->

				<button @click="click1">点击我，隔壁老王们禁用</button>
				<!-- 完整语法 -->
				<button v-bind:disabled="someDynamicCondition">老王1</button>
				<!--缩写-->
				<button :disabled="someDynamicCondition">老王2</button>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					seen: true,
					hide: false,
					colorA: 'color-1',
					someDynamicCondition:false
				}
				,methods:{
						click1:function(){
							app.someDynamicCondition = true;
						}
					}
			})
		</script>
	</body>

</html>