<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>指令</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/vue.js"></script>
		<style type="text/css">
			div.box {
				width: 80%;
				margin: 100px auto;
			}
			
			.color-1 {
				color: #0078A8;
			}
		</style>
	</head>

	<body>
		<div class="box">
			<div id="app">
				<h2> v-if指令，dom节点直接删除或者添加，不是隐藏，angularjs中类似的是 ng-if，而ng-show是隐藏显示</h2>
				<!--v-bind:class 缩写 :class-->
				<p v-if="seen" :class="{'color-1':true}">现在你看到我了</p>
				<p v-else>现在你看不到我了</p>
				<!--等价于-->
				<!--<p v-else="seen">现在你看不到我了</p>-->
				<!--<p v-if="hide">现在你看不到我了</p>-->

				<button @click="click1">点击我，隔壁老王们禁用</button>
				<!-- 完整语法 -->
				<button v-bind:disabled="someDynamicCondition">老王1</button>
				<!--缩写-->
				<button :disabled="someDynamicCondition">老王2</button>
				<h3>一些指令可以接收参数，例如 v-bind:class 其中class就是该指令接收的参数。用于告知v-bind指令，将该元素的class属性与表达式 {'color-1':true}绑定</h3>
				<h3>##修饰符</h3>
				<p>
					修饰符（Modifiers）是以半角句号 . 指明的特殊后缀，用于指出一个指令应该以特殊方式绑定。
				</p>
				<p>
					比如修饰符v-on:click.stop="test",是阻止冒泡的事件发生，即stopPropagation()，其他的也类似，只不过vue把这些方法封装起来了，用着更方便。
				</p>
				<button @click.stop="click1">点击我，上面老王们禁用</button>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					seen: true,
					hide: false,
					colorA: 'color-1',
					someDynamicCondition:false
				}
				,methods:{
						click1:function(){
							app.someDynamicCondition = true;
						}
					}
			})
		</script>
	</body>

</html>