<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>指令demo</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/vue1.js"></script>
		<style type="text/css">
			div.box {
				width: 80%;
				margin: 50px auto;
				padding: 10px 20px;
				background-color: #f6f6f6;
			}
			
			.border {
				border-bottom: 2px solid #eee;
			}
			
			.imgClass {
				width: 100px;
				height: 100px;
			}
			
			.color-1 {
				color: #0078A8;
			}
			
			.color-2 {
				color: #0055FF;
			}
		</style>
	</head>

	<body>
		<div class="box" id="app">
			<h2>1.v-bind缩写</h2>
			<p class="border"></p>
			<!--完整语法-->
			<img v-bind:src="imgUrl" v-bind:class="{'imgClass':true}" />
			<!--缩写-->
			<img :src="imgUrl" :class="{'imgClass':true}" />
			<!--完整语法-->
			<a v-bind:href="url">我的GitHub</a>
			<!--缩写-->
			<a :href="url">我的GitHub</a>
			<!--完整语法-->
			<button v-bind:disabled="dis">我被禁用了</button>
			<!--缩写-->
			<button :disabled="dis1" @click="jiejiu">点击我，禁用我</button>

			<h2>2.v-on缩写</h2>
			<p class="border"></p>
			<!--完整语法-->
			<button v-on:click="tiaozhuan">跳转到我的 GitHub</button>
			<!--缩写-->
			<button @click="tiaozhuan">跳转到我的 GitHub</button>

			<h2>3.过滤器</h2>
			<p class="border"></p>
			<h2 :class="colorA">内置过滤器list </h2>
			<h3>注意内置过滤器在2.0版本以后就废弃了，需要我们自己去自定义，此文档引用的是 1.0版本的vue.js</h3>
			<table>
				<tr>
					<th align="center">名称</th>
					<th align="center">功能</th>
				</tr>
				<tr>
					<td>capitalize</td>
					<td align="center">首字母大写</td>
				</tr>
				<tr>
					<td>uppercase</td>
					<td align="center">全部大写</td>
				</tr>
				<tr>
					<td>lowercase</td>
					<td align="center">全部小写</td>
				</tr>
				<tr>
					<td>currency</td>
					<td align="center">设置货币、精确值</td>
				</tr>
				<tr>
					<td>pluralize</td>
					<td align="center">输出复数的形式</td>
				</tr>
				<tr>
					<td>debounce</td>
					<td align="center">延期执行函数</td>
				</tr>
				<tr>
					<td>limitBy</td>
					<td align="center">在 v-for 中使用，限制数量</td>
				</tr>
				<tr>
					<td>filterBy</td>
					<td align="center">在 v-for 中使用，选择数据</td>
				</tr>
				<tr>
					<td>orderBy</td>
					<td align="center">在 v-for 中使用，排序</td>
				</tr>
			</table>
			<h2 :class="colorA">内置过滤器使用</h2>
			<table>
				<tr>
					<th align="center">代码</th>
					<th align="center">结果</th>
					<th align="center">功能</th>
					<th align="center">说明</th>
				</tr>
				<tr>
					<td>msg | capitalize</td>
					<td align="center">{{msg | capitalize }}</td>
					<td align="center">首字母大写</td>
					<td align="center">msg原信息 xuefeiCheng</td>
				</tr>
				<tr>
					<td>msg | uppercase</td>
					<td align="center">{{msg | uppercase}}</td>
					<td align="center">全部大写</td>
					<td align="center">msg原信息 xuefeiCheng</td>
				</tr>
				<tr>
					<td>msg | lowercase</td>
					<td align="center">{{msg | lowercase}}</td>
					<td align="center">全部小写</td>
					<td align="center">msg原信息 xuefeiCheng</td>
				</tr>
				<tr>
					<td>num | currency</td>
					<td align="center">{{num | currency '$' 1}}</td>
					<td align="center">设置货币、精确值</td>
					<td align="center">num原信息 666.66</td>
				</tr>
				<tr>
					<td>pluralize</td>
					<td align="center">{{str | pluralize 'son'}}</td>
					<td align="center">输出复数的形式</td>
					<td align="center">str原信息 son,对象item复数输出，看###对象复数</td>
				</tr>
				<tr>
					<td>click1 | debounce 1000</td>
					<td align="center"><button @click="click1 | debounce 1000">点击我，1000ms之后</button></td>
					<td align="center">延期执行函数</td>
					<td> 限制：需在@里面使用,参数:{Number} [wait] - 默认值： 300</td>
				</tr>
				<tr>
					<td>v-for="item in lili | limitBy 1 1"</td>
					<td align="center">在 ###limitBy 中查看</td>
					<td align="center">在 v-for 中使用，限制数量</td>
					<td> 限制：需在v-for(即数组)里面使用,第一个参数:{Number} 取得数量;第二个参数:{Number} 偏移量</td>
				</tr>
				<tr>
					<td> v-for="item in man | filterBy 'l' in 'name' 'dada' </td>
					<td align="center">在 ###filterBy 中查看</td>
					<td align="center">在 v-for 中使用，选择数据</td>
					<td> 限制：需在v-for(即数组)里面使用,第一个参数: {String | Function} 需要搜索的字符串；第二个参数: in (可选,指定搜寻位置)；第三个参数: {String} (可选,数组格式)</td>
				</tr>
				<tr>
					<td> v-for="a in ordernum | orderBy 'age' -1</td>
					<td align="center">在 ###orderBy 中查看</td>
					<td align="center">在 v-for 中使用，排序</td>
					<td>限制：需在v-for(即数组)里面使用;第一个参数: {String | Array
						<String> | Function} 需要搜索的字符串;第二个参数: {String} 可选参数 order 决定结果升序（order >= 0）或降序（order
							< 0）,默认是升序</td>
				</tr>
			</table>
			<p>###对象复数</p>
			<ol>
				<!--多个失效 感觉这个过滤器在多个数据的时候一点用都没有-->
				<li v-for="item in items">{{item | pluralize 'item1' 'ha'}}</li>
			</ol>
			<ul>
				<li v-for="it in arrays">{{it | pluralize 'haha'}}</li>
			</ul>
			<p>###limitBy</p>
			<ul>
				<li v-for="it in arrays">元数据--{{it}}</li>
				<li v-for="it in arrays | limitBy 1 1">{{it}}</li>
			</ul>
			<p>###filterBy</p>
			<ul>
				<li v-for="i in man">元数据--{{i.name}}{{i.nam}}</li>
				<li v-for="i in man | filterBy 'l'">查找'l'数据--{{i.name}}</li>
				<li v-for="i in man | filterBy 'x' in 'nam' ">查找在nam中含有x的数据--{{i.nam}}</li>
				<li v-for="i in man | filterBy 'o' in 'nam' 'name' ">查找在nam中含有x的数据,以name的格式展示--{{i.name}}{{i.nam}}</li>
				<li :class="{'color-1':true}">展示的是 所有的 含有 'o'的数据，why？</li>
			</ul>
			<p>###orderBy</p>
			<ul>
				<!--遍历含有对象的数组-->
				<li v-for="a in ordernum">元数据--{{a.name}}-{{a.age}}</li>
				<li v-for="a in ordernum | orderBy 'age'">以'age'排序，默认升序--{{a.name}}-{{a.age}}</li>
				<li v-for="a in ordernum | orderBy 'age' -1">以'age'降序排序--{{a.name}}-{{a.age}}</li>
			</ul>
			<!--使用函数排序-->
			<ul>
				<li v-for="b in ordernum | orderBy 'age' ageByTen">{{b.age}}</li>
			</ul>
			<h2 :class="colorA">自定义过滤器使用</h2> {{msg | Capitalize }}
			<h2>4.条件渲染</h2>
			<p class="border"></p>
			<p>v-if指令</p>
			<p v-if="ok" :class="{'color-1':true}">Yes</p>
			<p v-else :class="{'color-1':true}">No</p>

			<p v-if="Math.random() > 0.5" :class="{'color-1':true}" v-text="Math.random()+'>0.5,sorry'">
			</p>
			<p v-else :class="{'color-1':true}">
				随机数Not>0.5, sorry
			</p>
			<p>template中v-if指令</p>
			<template v-if="ok">
				<h1>Title</h1>
				<p>Paragraph 1</p>
				<p>Paragraph 2</p>
			</template>
			<p>v-show指令--注意v-show指令不是dom节点的增删，而是隐藏，一直存在于dom节点上</p>
			<h1 v-show="ok">Hello!</h1>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					imgUrl: '../imgs/fan.JPG',
					url: 'https://github.com/xuefeiCheng',
					colorA: 'color-2',
					ok: true,
					dis: true,
					dis1: false,
					msg: 'xuefeiCheng',
					num: 666.66,
					str: 'son',
					items: {
						a: 'item1',
						b: 'ha',
						c: 'heihei'
					},
					arrays: ['haha', 'joy'],
					man: [ //此处注意man是数组,不是对象
						{
							name: "lily",
							age: 20
						}, {
							name: "lucy",
							age: 23
						}, {
							name: "oo",
							age: 10
						}, {
							name: "lsh",
							age: 12
						}, {
							name: "ofg",
							age: 14
						}, {
							nam: 'joy',
							age: 43
						}, {
							nam: 'xuefeiCheng',
							age: 55
						}
					],
					ordernum: [ //此处注意man是数组,不是对象
						{
							name: "lily",
							age: 20
						}, {
							name: "lucy",
							age: 23
						}, {
							name: "oo",
							age: 10
						}, {
							name: "lsh",
							age: 12
						}, {
							name: "ofg",
							age: 14
						}
					]

				},
				methods: {
					jiejiu: function() {
						app.dis1 = true
					},
					tiaozhuan: function() {
						window.location.href = app.url
					},
					click1: function() {
						alert("你找我啊，我的地址是：https://github.com/xuefeiCheng")
					},
					ageByTen: function() {
						return 1; //升序排列
					}
				},
				filters: {
					Capitalize: function(value) {
						if(!value) return ''
						value = value.toString()
						return value.charAt(0).toUpperCase() + value.slice(1)
					}
				}
			});
		</script>
	</body>

</html>